
{{!-- <article class="wine">
  <div class="title">
    <p> {{name}}</p>
    <p> {{size}}</p>
    <p> {{price}}</p>
    <p> {{resell}}</p>
    <p> {{notes}}</p>
    <p> {{createdAt}}</p>
  </div>
</article> --}}

<div class="card">
  <h1>{{name}}</h1>
  <p class="price">${{price}}</p>
  <p class="price">{{size}}oz</p>
  <p>{{notes}}</p>
  <button class="price" type="button" class="delete-wine-btn">Delete wine</button>
</div>

<script src="/javascript/delete-wine.js"></script>