
{{!-- <article class="wine">
  <div class="title">
    <p> {{name}}</p>
    <p> {{price}}</p>
    <p> {{resell}}</p>
    <p> {{notes}}</p>
    <p> {{createdAt}}</p>
  </div>
</article> --}}

<div class="card">
  <h1>{{name}}</h1>
  <p class="price">${{price}}</p>
  <p>{{notes}}</p>
  
</div>
