
<article class="post">
  <div class="title">
    <p> {{wine.name}}</p>
    <p> {{wine.bottle_size}}</p>
    <p> {{wine.price_paid}}</p>
    <p> {{wine.resell_value}}</p>
    <p> {{wine.notes}}</p>
    <p> {{wine.createdAt}}</p>
  </div>
</article>